{% extends "_layout.html" %}

{% block scripts %}
<script>
    const plugin = {
        id: 'verticalLiner',
        afterInit: (chart, args, opts) => {
          chart.verticalLiner = {}
        },
        afterEvent: (chart, args, options) => {
            const {inChartArea} = args
            chart.verticalLiner = {draw: inChartArea}
        },
        beforeTooltipDraw: (chart, args, options) => {
            const {draw} = chart.verticalLiner
            if (!draw) return
    
            const {ctx} = chart
            const {top, bottom} = chart.chartArea
            const {tooltip} = args
            const x = tooltip?.caretX
            if (!x) return
    
            ctx.save()
            
            ctx.beginPath()
            ctx.moveTo(x, top)
            ctx.lineTo(x, bottom)
            ctx.stroke()
            
            ctx.restore()
        }
    };

    var chartData = {{ context.priceJson | safe }};
    new Chart(document.getElementById('price-chart'), {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'Price',
                    data: chartData,
                    borderColor: '#00CC00',
                    backgroundColor: '#00CC00',
                    pointRadius: 2,
                    pointHoverBackgroundColor: '#22FF22',
                    pointHoverBorderColor: '#22FF22',
                    pointHoverRadius: 3
                }
            ]
        },
        options: {
            plugins:{
                legend: {
                    display: false
                },
                tooltip: {
                    displayColors: false,
                    xAlign: 'center',
                    yAlign: 'top',
                    titleFont: {
                        size: '16px'
                    },
                    bodyFont: {
                        size: '16px'
                    },
                    callbacks: {
                        label: ti => `$${ti.formattedValue}`
                    }
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            parsing: {
                xAxisKey: 'x',
                yAxisKey: 'y'
            },
            scales: {
                y: {
                    min: 0,
                    offset: true,
                    title: {
                        display: true,
                        text: 'Price (USD)'
                    },
                    ticks: {
                        callback: function(value, index, ticks) {
                            return '$' + value;
                        }
                    }
                },
                x: {
                    type: 'time',
                    display: true,
                    title: {
                      display: true,
                      text: 'Date'
                    },
                    time: {
                        parser: "yyyy-MM-dd HH:mm:ss",
                        tooltipFormat: "ddd MMM D, YYYY h:mma",
                        displayFormats: {
                            millisecond: 'h:mm:ss.SSSa',
                            second: 'h:mm:ssa',
                            minute: 'h:mma',
                            hour: 'ha',
                            day: 'MMM D',
                            week: 'MMM D',
                            month: 'MMM YYYY',
                            year: 'MMM YYYY'

                        }
                    },
                    ticks: {
                        major: {
                            enabled: true
                        },
                        color: (context) => context.tick && context.tick.major && '#003399',
                        font: function(context) {
                            if (context.tick && context.tick.major) {
                                return {
                                    weight: 'bold'
                                };
                            }
                        }
                    }
                }
            }
        },
        plugins: [
            {
                afterDraw: chart => {
                    if (chart.tooltip?._active?.length) {
                        let x = chart.tooltip._active[0].element.x;
                        let yAxis = chart.scales.y;
                        let ctx = chart.ctx;
                        ctx.save();
                        ctx.beginPath();
                        ctx.moveTo(x, yAxis.top);
                        ctx.lineTo(x, yAxis.bottom);
                        ctx.lineWidth = 1;
                        ctx.strokeStyle = '#777777';
                        ctx.stroke();
                        ctx.restore();
                    }
                }
            }
        ]
    })
</script>
{% endblock %}

{% block body %}

        <h3>Graph for: {{ context.name }}</h3>
        <div class="row mt-2 mb-2">
            <div class="col text-center">
                <h4>
                    <span class="badge text-bg-primary">
                        <i class="fas fa-dollar-sign fa-fw"></i> Current: {{ "$%.2f" | format(context.current) }}
                    </span>
                </h4>
            </div>
            <div class="col text-center">
                <h4>
                    <span class="badge text-bg-success">
                        <i class="fas fa-arrow-trend-down fa-fw"></i> Low: {{ "$%.2f" | format(context.low) }}
                    </span>
                </h4>
            </div>
            <div class="col text-center">
                <h4>
                    <span class="badge text-bg-danger">
                        <i class="fas fa-arrow-trend-up fa-fw"></i> High: {{ "$%.2f" | format(context.high) }}
                    </span>
                </h4>
            </div>
        </div>
        <div class="chart-container">
            <canvas id="price-chart"></canvas>
        </div>

{% endblock %}