{% extends "_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.css" integrity="sha512-ejAo3nK8bdfwg68A9g6QYUdqnTmcGem1OX8AeVwa+dQH2v22vEwPkbZQzltTE+bjXt72iGvglAw0h+Up+fOg0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" integrity="sha512-DEcSaL0BWApJ//v7ZfqAI04nvK+NQcUVwrrx/l1x7OJgU0Cwbq7e459NBMzLPrm8eLPzAwBtiJJS4AvLZDZ8xA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}

    {% for c in context.headers | sort %}

        <h3>{{ c }}</h3>

        <table class="table align-middle sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th style="width: 1%; min-width: 120px;">Spark</th>
                    <th style="width: 1%; min-width: 120px;">Last Price</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for r in context.prices | sort(attribute='name') %}
                    {% if r.category == c %}
                        <tr>
                            <td>
                                {% if r.name in context.sparks %}
                                    <img src="data:image/png;base64,{{ context.sparks[r.name] }}" alt="Sparkline for {{ r.name }}" />
                                {% endif %}
                            </td>
                            <td>{{ "$%.2f" | format(r.price) }}</td>
                            <td><a href="/graph?name={{ r.name }}">{{ r.name }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
    {% endfor %}

{% endblock %}