{% extends "_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.css" integrity="sha512-ejAo3nK8bdfwg68A9g6QYUdqnTmcGem1OX8AeVwa+dQH2v22vEwPkbZQzltTE+bjXt72iGvglAw0h+Up+fOg0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" integrity="sha512-DEcSaL0BWApJ//v7ZfqAI04nvK+NQcUVwrrx/l1x7OJgU0Cwbq7e459NBMzLPrm8eLPzAwBtiJJS4AvLZDZ8xA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}

    <h2>Scheduled Jobs</h2>

    <div class="col-8">
        <table class="table sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>Next Run</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for j in context.jobs %}
                    <tr>
                        <td>
                            {{ j.next.strftime("%b %d, %Y %I:%M:%S %p") }}<br />
                            <small>in {{ (j.delta.seconds / 3600) | round(0, 'floor') | int }} hours,
                                {{ ((j.delta.seconds / 60) % 60) | round(0, 'floor') | int }} mins,
                                {{ (j.delta.seconds % 60) | round(0, 'floor') | int }} secs</small>
                        </td>
                        <td>{{ j.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}